<f:layout name="Default" />

<f:section name="Title">A list of trainers</f:section>
<f:section name="Header">A list of trainer</f:section>

<f:section name="Content">
	<f:if condition="{trainers}">
		<f:then>
			<ul>
				<f:for each="{trainers}" as="trainer">
					<li>
						<f:link.action action="show" arguments="{trainer: trainer}">{trainer.name}</f:link.action>
						<f:link.action action="edit" arguments="{trainer: trainer}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{trainer: trainer}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No trainers created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new trainer</f:link.action></p>
</f:section>