<f:layout name="Default" />

<f:section name="Title">A list of trainings</f:section>

<f:section name="Content">
	<f:if condition="{trainings}">
		<f:then>
			<ul>
				<f:for each="{trainings}" as="training">
					<li>
						<f:link.action action="show" arguments="{training: training}">{training.title}</f:link.action>
						<f:link.action action="edit" arguments="{training: training}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{training: training}">Delete</f:link.action>
						<f:link.action action="vote" arguments="{training: training}">{training.vote} vote(s)</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No trainings created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new training</f:link.action></p>
</f:section>