<f:layout name="Default" />

<f:section name="Title">Show training "{training.title}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Title</th>
			<td>{training.title}</td>
		</tr>
	
		<tr>
			<th>Description</th>
			<td>{training.description}</td>
		</tr>
	
		<tr>
			<th>Created date</th>
			<td>{training.createdDate -> f:format.date(format: 'Y-m-d H:i')}</td>
		</tr>
	
		<tr>
			<th>Vote</th>
			<td>{training.vote}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>