<f:layout name="Default" />

<f:section name="Title">Show training "{training.title}"</f:section>

<f:section name="Content">
	<ol>
		<li>
			<label for="title">Title</label>
			{training.title}
		</li>
	
		<li>
			<label for="description">Description</label>
			{training.description}
		</li>
	
		<li>
			<label for="createdDate">Created date</label>
			{training.createdDate -> f:format.date(format: 'Y-m-d H:i')}
		</li>
	
		<li>
			<label for="vote">Vote</label>
			{training.vote}
		</li>
		
		<li>
			<label for="user">User</label>
			{training.user.username}
		</li>
	</ol>
	<f:link.action action="index">Back</f:link.action>
</f:section>