{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Reset Password</f:section>
<f:section name="Header">Reset Password</f:section>

<f:section name="Content">
	<f:form action="reset" object="{user}" name="user" method="post">
		<div class="row">
			<div class="span5">
				<div class="hidden"><ct:flashMessages /></div>
				<f:render partial="FormErrors" arguments="{objectName: objectName}" />
				<table class="table table-bordered table-striped">
					<colgroup>
						<col class="span2">
						<col class="span3">
					</colgroup>
					<thead>
						<tr>
							<th>Field</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Name</td>
							<td>{user.name}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{user.email}</td>
						</tr>
						<tr>
							<td><label for="newPassword">New Password</label></td>
							<td><input type="password" name="newPassword[0]" /></td>
						</tr>
						<tr>
							<td><label for="newPassword">Repeat New Password</label></td>
							<td><input type="password" name="newPassword[1]" /></td>
						</tr>
						<tr>
							<td></td>
							<td><f:form.submit value="Reset" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</f:form>
</f:section>