<f:layout name="Default" />

<f:section name="Title">Show user "{user.username}"</f:section>

<f:section name="Content">
	<ol>
		<li>
			<label for="username">Username</label>
			<f:form.textfield property="username" id="username" value="{user.username}" readonly="readonly" />
		</li>
	
		<li>
			<label for="password">Password</label>
			<f:form.password property="password" id="password" value="{user.password}" readonly="readonly" />
		</li>
	</ol>
	<f:link.action action="index">Back</f:link.action>
</f:section>