{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.header.administration" /></f:section>
<f:section name="Header"></f:section>

<f:section name="Content">
	<ct:flashMessages />
	<f:link.action class="report-view btn" action="viewReport" controller="Topic"><f:translate id="label.report.view.title" /></f:link.action>
	<h4><f:translate id="label.list.category" /></h4>
	<f:if condition="{categories}">
		<f:then>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.list.category.name" /></th>
					<th><f:translate id="label.list.category.description" /></th>
					<th><f:translate id="label.list.category.edit" /></th>
					<th><f:translate id="label.list.category.delete" /></th>
				</tr>
				<f:for each="{categories}" as="category">
					<tr>
						<td>{category.name}</td>
						<td>{category.description}</td>
						<td><f:link.action action="edit" arguments="{category: category}" controller="Category"><i class="icon-pencil"></i></f:link.action></td>
						<f:if condition="{category.topics ->f:count()} > 0">
							<f:then>
								<td></td>
							</f:then>
							<f:else>
								<td><f:link.action action="delete" arguments="{category: category}" controller="Category"><i class="icon-trash" onclick="return confirm('{f:translate(id: 'label.confirm.delete')}');"></i></f:link.action></td>
							</f:else>
						</f:if>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><f:translate id="label.no.category" /></p>
		</f:else>
	</f:if>
	<f:link.action action="new" controller="Category" class="btn"><f:translate id="label.suggest.new.category" /></f:link.action>
	<h4><f:translate id="label.list.location" /></h4>
	<f:if condition="{locations}">
		<f:then>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.list.location.name" /></th>
					<th><f:translate id="label.list.location.description" /></th>
					<th><f:translate id="label.list.location.edit" /></th>
					<th><f:translate id="label.list.location.delete" /></th>
				</tr>
				<f:for each="{locations}" as="location">
					<tr>
						<td>{location.room}</td>
						<td>{location.description}</td>
						<td><f:link.action action="edit" arguments="{location: location}" controller="Location"><i class="icon-pencil"></i></f:link.action></td>
						<f:if condition="{location.topics ->f:count()} > 0">
							<f:then>
								<td></td>
							</f:then>
							<f:else>
								<td><f:link.action action="delete" arguments="{location: location}" controller="Location"><i class="icon-trash" onclick="return confirm('{f:translate(id: 'label.confirm.delete')}');"></i></f:link.action></td>
							</f:else>
						</f:if>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><f:translate id="label.no.location" /></p>
		</f:else>
	</f:if>
	<f:link.action action="new" controller="Location" class="btn"><f:translate id="label.suggest.new.location" /></f:link.action>
	<h4><f:translate id="label.type.list" /></h4>
	<f:if condition="{types}">
		<f:then>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.field.type.name" /></th>
					<th><f:translate id="label.field.type.description" /></th>
					<th><f:translate id="label.edit" /></th>
					<th><f:translate id="label.delete" /></th>
				</tr>
				<f:for each="{types}" as="type">
					<tr>
						<td>{type.name}</td>
						<td>{type.description}</td>
						<td><f:link.action action="edit" arguments="{type: type}" controller="Type"><i class="icon-pencil"></i></f:link.action></td>
						<f:if condition="{type.topics ->f:count()} > 0">
							<f:then>
								<td></td>
							</f:then>
							<f:else>
								<td><f:link.action action="delete" arguments="{type: type}" controller="Type"><i class="icon-trash" onclick="return confirm('{f:translate(id: 'label.confirm.delete')}');"></i></f:link.action></td>
							</f:else>
						</f:if>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><f:translate id="label.no.type" /></p>
		</f:else>
	</f:if>
	<f:link.action action="new" controller="Type" class="btn"><f:translate id="label.suggest.new.type" /></f:link.action>
	<h4><f:translate id="label.user.account" /></h4>
	<f:link.action action="index" controller="User" class="btn"><f:translate id="label.user.management" /></f:link.action>
</f:section>
