{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.topic.edit" /> "{topic.title}"</f:section>
<f:section name="Header"><f:translate id="label.topic.edit" /> "{topic.title}"</f:section>

<f:section name="Content">
	<div style="display: none"><ct:flashMessages /></div>
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form action="update" object="{topic}" name="topic">
		<div class="control-group">
			<div class="control-label">
				<label for="title"><f:translate id="label.field.topic.title" /></label>
			</div>
			<div class="controls">
				<f:form.textfield property="title" id="title" placeholder="{f:translate(id: 'label.placeholder.title')}" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="shortDescription"><f:translate id="label.field.topic.shortdescription" /></label>
			</div>
			<div class="controls">
				<f:form.textarea property="shortDescription" id="shortDescription" rows="3" cols="50" placeholder="{f:translate(id: 'label.placeholder.description')}" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="category"><f:translate id="label.field.topic.category" /></label>
			</div>
			<div class="controls">
				<f:form.select name="category" options="{categories}" optionLabelField="name" property="category" prependOptionLabel="{f:translate(id: 'label.suggest.select.category')}" />
				<f:security.ifHasRole role="Administrator">
					<f:link.action action="new" controller="Category"> <i class="icon-plus"></i></f:link.action>
				</f:security.ifHasRole>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="type"><f:translate id="label.field.topic.type" /></label>
			</div>
			<div class="controls">
				<f:form.select name="type" options="{types}" optionLabelField="name" property="type" prependOptionLabel="{f:translate(id: 'label.suggest.select.type')}" />
				<f:security.ifHasRole role="Administrator">
					<f:link.action action="new" controller="Type"> <i class="icon-plus"></i></f:link.action>
				</f:security.ifHasRole>
			</div>
		</div>
		<f:form.button type="submit" class="btn"><f:translate id="label.update" /></f:form.button>
	</f:form>
</f:section>