<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.dashboard" /></f:section>
<f:section name="Header"></f:section>

<f:section name="Content">
	<h3><f:translate id="label.welcome.message" /></h3>
	<f:if condition="{availableTopics}">
		<f:then>
			<h4>
				<f:translate id="label.latest.scheduled" />
			</h4>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.field.topic.trainingDateFrom" /> - <f:translate id="label.field.topic.trainingDateTo" /></th>
					<th><f:translate id="label.field.topic" /></th>
					<th><f:translate id="label.field.topic.category" /></th>
					<th><f:translate id="label.field.topic.trainer" /></th>
					<th><f:translate id="label.field.topic.location" /></th>
				</tr>
				<f:for each="{availableTopics}" as="availableTopic">
					<tr>
						<td>
							<f:format.date format="d/m/Y H:i">{availableTopic.trainingDateFrom}</f:format.date>
							-
							<f:format.date format="d/m/Y H:i">{availableTopic.trainingDateTo}</f:format.date>
						</td>
						<td>{availableTopic.title}</td>
						<td>{availableTopic.category.name}</td>
						<td>
							<f:for each="{availableTopic.trainers}" as="trainer">
								{trainer.name} <br />
							</f:for>
						</td>
						<td>{availableTopic.location.room}</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<f:translate id="label.message.noscheduled" />
		</f:else>
	</f:if>
	<div class="row">
		<div class="span6">
			<h4>
				<f:translate id="label.latest.suggestion" />
			</h4>
			<f:if condition="{suggestedTopics}">
				<f:then>
					<table class="table table-condensed">
						<tr>
							<th><f:translate id="label.field.topic" /></th>
							<th><f:translate id="label.field.topic.account" /></th>
						</tr>
						<f:for each="{suggestedTopics}" as="suggestedTopic">
							<tr class="warning">
								<td>{suggestedTopic.title}</td>
								<td>{suggestedTopic.owner.name}</td>
							</tr>
						</f:for>
					</table>
				</f:then>
				<f:else>
					<f:translate id="label.message.nosuggestion" />
				</f:else>
			</f:if>
		</div>
		<div class="span6">
			<h4>
				<f:translate id="label.latest.accpeted" />
			</h4>
			<f:if condition="{acceptedTopics}">
				<f:then>
					<table class="table table-condensed">
						<tr>
							<th><f:translate id="label.field.topic" /></th>
						</tr>
						<f:for each="{acceptedTopics}" as="acceptedTopic">
							<tr class="success">
								<td>{acceptedTopic.title}</td>
							</tr>
						</f:for>
					</table>
				</f:then>
				<f:else>
					<f:translate id="label.message.noaccepted" />
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>
