<f:layout name="Default" />

<f:section name="Title">A list of topics</f:section>
<f:section name="Header">Dash board</f:section>

<f:section name="Content">
	<f:if condition="{topics}">
		<f:then>
			<ul>
				<f:for each="{topics}" as="topic">
					<li>
						<f:link.action action="show" arguments="{topic: topic}">{topic.title}</f:link.action>
						<f:link.action controller="Standard" action="showAccount" arguments="{account: topic.account}">{topic.account.party.name}</f:link.action>
						<f:link.action action="edit" arguments="{topic: topic}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{topic: topic}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No topics created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new topic</f:link.action></p>
	<p><f:link.action action="new" controller="Category">Create new category</f:link.action></p>
	<p><f:link.action action="new" controller="Trainer">Create new trainer</f:link.action></p>
	<p><f:link.action action="new" controller="Location">Create new location</f:link.action></p>
</f:section>