<f:layout name="Default" />

<f:section name="Title">A list of topics</f:section>
<f:section name="Header">Dash board</f:section>

<f:section name="Content">
	<f:if condition="{topics}">
		<f:then>
			<ul>
				<f:for each="{topics}" as="topic">
					<li>
						<f:link.action action="show" arguments="{topic: topic}">{topic.title}</f:link.action>
						<f:link.action controller="Standard" action="showAccount" arguments="{account: topic.account}">{topic.account.party.name}</f:link.action>
						<!-- <f:for each="{topic.account.roles}" as="role">
							{role}
						</f:for> -->
						<f:link.action action="edit" arguments="{topic: topic}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{topic: topic}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No topics created yet.</p>
		</f:else>
	</f:if>
        <f:if condition="{scheduleTopics}">
            <h4>10 Training Scheduled</h4>
            <table class="table table-condensed">
                    <tr>
                        <th>Training Date</th>
                        <th>Topic</th>
                        <th>Trainer</th>
                        <th>Location</th>
                    </tr>
                    <f:for each="{scheduleTopics}" as="scheduleTopic">
                            <tr>
                                <td><f:format.date>{scheduleTopic.trainingDate}</f:format.date></td>
                                <td>{scheduleTopic.title}</td>
                                <td>
                                    <f:for each="{scheduleTopic.trainers}" as="trainer">
                                        {trainer.name} <br/>
                                    </f:for>
                                </td>
                                <td>{scheduleTopic.location.room}</td>
                            </tr>
                    </f:for>
              </table>
        </f:if>
        <f:if condition="{suggestedTopics}">
            <h4>10 Latest Suggestion</h4>
            <table class="table table-condensed">
                    <tr>
                        <th>Topic</th>
                        <th>By</th>
                    </tr>
                        <f:for each="{suggestedTopics}" as="suggestedTopic">
                            <tr class="warning">
                                <td>{suggestedTopic.title}</td>
                                <td>{suggestedTopic.account.party.name}</td>
                            </tr>
                    </f:for>
              </table>
        </f:if>
        <f:if condition="{acceptedTopics}">
            <h4>10 Latest Accepted</h4>
            <table class="table table-condensed">
                    <tr>
                        <th>Topic</th>
                        <th>By</th>
                    </tr>
                        <f:for each="{acceptedTopics}" as="acceptedTopic">
                            <tr class="success">
                                <td>{acceptedTopic.title}</td>
                                <td>{acceptedTopic.account.party.name}</td>
                            </tr>
                    </f:for>
              </table>
	</f:if>
	<p><f:link.action action="new" controller="Category">Create new category</f:link.action></p>
	<p><f:link.action action="new" controller="Trainer">Create new trainer</f:link.action></p>
	<p><f:link.action action="new" controller="Location">Create new location</f:link.action></p>
</f:section>