{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.listTraining" /></f:section>
<f:section name="Header"></f:section>

<f:section name="Content">
	<ct:flashMessages />
	<f:if condition="{availableTopics}">
		<f:then>
			<h4>
				<f:translate id="label.all.scheduled" />
			</h4>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.field.topic.trainingDateFrom" /> - <f:translate id="label.field.topic.trainingDateTo" /></th>
					<th><f:translate id="label.field.topic" /></th>
					<th><f:translate id="label.field.topic.category" /></th>
					<th><f:translate id="label.field.topic.type" /></th>
					<th><f:translate id="label.field.topic.trainer" /></th>
					<th><f:translate id="label.field.topic.location" /></th>
				</tr>
				<f:for each="{availableTopics}" as="availableTopic">
					<tr>
						<td>
							<f:format.date format="d/m/Y H:i">{availableTopic.trainingDateFrom}</f:format.date>
							-
							<f:format.date format="d/m/Y H:i">{availableTopic.trainingDateTo}</f:format.date>
						</td>
						<td><f:link.action action="show" controller="Topic" arguments="{topic: availableTopic}">{availableTopic.title}</f:link.action></td>
						<td>{availableTopic.category.name}</td>
						<td>{availableTopic.type.name}</td>
						<td>
							<f:for each="{availableTopic.trainers}" as="trainer">
								{trainer.name} <br />
							</f:for>
						</td>
						<td>{availableTopic.location.room}</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<f:translate id="label.message.noscheduled" />
		</f:else>
	</f:if>
	<f:if condition="{archieveTopics}">
		<f:then>
			<h4>
				<f:translate id="label.all.archieve" />
			</h4>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.field.topic.trainingDate" /></th>
					<th><f:translate id="label.field.topic.trainingTime" /></th>
					<th><f:translate id="label.field.topic" /></th>
					<th><f:translate id="label.field.topic.category" /></th>
					<th><f:translate id="label.field.topic.type" /></th>
					<th><f:translate id="label.field.topic.trainer" /></th>
					<th><f:translate id="label.field.topic.location" /></th>
				</tr>
				<f:for each="{archieveTopics}" as="archieveTopic">
					<tr>
						<td>
							<f:format.date format="d/m/Y">{archieveTopic.trainingDateFrom}</f:format.date>
						</td>
						<td>
							<f:format.date format="H:i">{archieveTopic.trainingDateFrom}</f:format.date>
							-
							<f:format.date format="H:i">{archieveTopic.trainingDateTo}</f:format.date>
						</td>
						<td><f:link.action action="show" controller="Topic" arguments="{topic: archieveTopic}">{archieveTopic.title}</f:link.action></td>
						<td>{archieveTopic.category.name}</td>
						<td>{archieveTopic.type.name}</td>
						<td>
							<f:for each="{archieveTopic.trainers}" as="trainer">
								{trainer.name} <br />
							</f:for>
						</td>
						<td>{archieveTopic.location.room}</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<f:translate id="label.message.noarchieve" />
		</f:else>
	</f:if>
</f:section>