<f:layout name="Default" />

<f:section name="Title">Suggested Topic - Chantrea Training</f:section>
<f:section name="Header">Suggested Topic</f:section>

<f:section name="Content">
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:if condition="{suggestedTopics}">
		<table class="table table-condensed">
			<tr>
				<th><f:translate id="label.field.topic.creationDate" /></th>
				<th><f:translate id="label.field.topic.title" /></th>
				<th><f:translate id="label.field.topic.account" /></th>
				<f:security.ifHasRole role="Administrator">
					<th><f:translate id="label.suggest.accepted" /></th>
					<th><f:translate id="label.suggest.unaccepted" /></th>
				</f:security.ifHasRole>
			</tr>
			<f:for each="{suggestedTopics}" as="suggestedTopic">
				<tr class="warning">
					<td><f:format.date>{suggestedTopic.creationDate}</f:format.date></td>
					<td>{suggestedTopic.title}</td>
					<td>{suggestedTopic.account.party.name}</td>
					<td>
						<f:link.action action="edit" controller="Topic"
							arguments="{topic: suggestedTopic}">
							<i class="icon-edit"></i>
						</f:link.action>
					</td>
					<td>
						<f:link.action action="delete" controller="Topic"
							arguments="{topic: suggestedTopic}">
							<i class="icon-trash"
								onclick="return confirm('Are you sure want to delete?')"></i>
						</f:link.action>
					</td>
				</tr>
			</f:for>
		</table>
	</f:if>
	<p>
		<f:link.action action="suggest">
			<f:translate id="label.back.suggested.topic" />
		</f:link.action>
	</p>
</f:section>