{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.accpetedTopic" /></f:section>
<f:section name="Header"><f:translate id="label.accepted.looking.for.trainer" /></f:section>

<f:section name="Content">
	<ct:flashMessages />
	<f:if condition="{acceptedTopics}">
		<f:then>
			<table class="table table-condensed">
				<tr>
					<th><f:translate id="label.field.topic.creationDate" /></th>
					<th><f:translate id="label.field.topic.title" /></th>
					<th><f:translate id="label.field.topic.level" /></th>
					<th><f:translate id="label.field.topic.category" /></th>
					<th><f:translate id="label.field.topic.type" /></th>
					<f:security.ifHasRole role="Administrator"><th><f:translate id="label.listAccepted.schedule" /></th></f:security.ifHasRole>
				</tr>
				<f:for each="{acceptedTopics}" as="acceptedTopic">
					<tr class="success">
						<td><f:format.date>{acceptedTopic.creationDate}</f:format.date></td>
						<td><f:link.action action="show" controller="Topic" arguments="{topic: acceptedTopic}">{acceptedTopic.title}</f:link.action></td>
						<td>{acceptedTopic.level.name}</td>
						<td>{acceptedTopic.category.name}</td>
						<td>{acceptedTopic.type.name}</td>
						<f:security.ifHasRole role="Administrator">
							<td>
								<f:link.action action="plan" controller="Topic" arguments="{topic: acceptedTopic}"><i class="icon-time"></i></f:link.action>
							</td>
						</f:security.ifHasRole>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<f:translate id="label.message.acceptedtopic" />
		</f:else>
	</f:if>
</f:section>