<f:layout name="Default" />

<f:section name="Title"></f:section>
<f:section name="Header"></f:section>

<f:section name="Content">
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form action="setSchedule" object="{planTopic}" name="planTopic">
		<ol>
			<li>
				<label for="title">Title</label>
				<f:form.textfield property="title" id="title" placeholder="Enter title here" />
			</li>

			<li>
				<label for="shortDescription">Short description</label>
				<f:form.textarea property="shortDescription" id="shortDescription" rows="3" cols="50" placeholder="Enter description here" />
			</li>
			<li>
				<label for="trainingDate">Training Date</label>
				<f:form.textfield property="trainingDate" id="trainingDate" placeholder="Enter training date" />
			</li>

			<li>
				<label for="trainer">Trainer</label>
				<f:form.textarea property="trainer" id="trainer" rows="3" cols="50" placeholder="Enter trainer here" />
			</li>

			<li>
				<label for="location">Location</label>
				<f:form.textarea property="location" id="location" rows="3" cols="50" placeholder="Enter location here" />
			</li>

			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>