{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"></f:section>
<f:section name="Header">Plan the training</f:section>
<f:section name="Content">
	<div style="display: none;"><ct:flashMessages /></div>
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form action="schedule" object="{topic}" name="topic" class="form-horizontal">
		<div class="control-group">
			<div class="control-label">
				<label for="creationDate"><f:translate id="label.plan.field.topic.creationDate" />:</label>
			</div>
			<div class="controls">
				<label class="checkbox"><f:format.date>{topic.creationDate}</f:format.date></label>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="title"><f:translate id="label.field.topic" />:</label>
			</div>
			<div class="controls">
				<label class="checkbox">{topic.title}</label>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="account"><f:translate id="label.field.topic.account" />:</label>
			</div>
			<div class="controls">
				<label class="checkbox">{topic.owner.name}</label>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="category"><f:translate id="label.field.topic.category" />:</label>
			</div>
			<div class="controls">
				<label class="checkbox">{topic.category.name}</label>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="type"><f:translate id="label.field.topic.type" />:</label>
			</div>
			<div class="controls">
				<f:form.select name="type" property="type" options="{types}" optionLabelField="name" prependOptionLabel="{f:translate(id: 'label.plan.select.type')}" />
				<f:security.ifHasRole role="Administrator">
					<f:link.action action="new" controller="Type"> <i class="icon-plus"></i></f:link.action>
				</f:security.ifHasRole>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="trainingDateFrom"><f:translate id="label.field.topic.trainingDateFrom" /></label>
			</div>
			<div class="controls">
				<f:form.textfield property="trainingDateFrom" id="trainingDateFrom" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="trainingDateTo"><f:translate id="label.field.topic.trainingDateTo" /></label>
			</div>
			<div class="controls">
				<f:form.textfield property="trainingDateTo" id="trainingDateTo" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="trainers"><f:translate id="label.field.topic.trainer" />:</label>
			</div>
			<div class="controls">
				<div class="left">
					<f:form.select name="trainers" options="{trainers}" optionLabelField="name" multiple="1" size="5" id="trainers" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="location"><f:translate id="label.field.topic.location" />: </label>
			</div>
			<div class="controls">
				<f:form.select name="location" property="location" options="{locations}" optionLabelField="room" prependOptionLabel="{f:translate(id: 'label.plan.select.location')}" />
				<f:security.ifHasRole role="Administrator">
					<f:link.action action="new" controller="Location"> <i class="icon-plus"></i></f:link.action>
				</f:security.ifHasRole>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<f:form.button class="btn" type="submit"><f:translate id="label.plan.save" /></f:form.button>
			</div>
		</div>
	</f:form>
</f:section>