{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.suggested.header" /></f:section>
<f:section name="Header"><f:translate id="label.suggested.header" /></f:section>

<f:section name="Content">
	<ct:flashMessages />
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form.hidden name="nav-class" class="nav-class" value="{class}" />
	<f:if condition="{suggestedTopics}">
		<table class="table table-condensed">
			<tr>
				<th><f:translate id="label.field.topic.creationDate" /></th>
				<th><f:translate id="label.field.topic.title" /></th>
				<th><f:translate id="label.field.topic.category" /></th>
				<th><f:translate id="label.field.topic.account" /></th>
				<f:security.ifHasRole role="Administrator">
					<th><f:translate id="label.suggest.accept" /></th>
					<th><f:translate id="label.suggest.reject" /></th>
				</f:security.ifHasRole>
				<th><f:translate id="label.edit" /></th>
				<th><f:translate id="label.delete" /></th>
				<th><f:translate id="label.suggest.votenumber" /></th>
				<th><f:translate id="label.suggest.vote" /></th>
			</tr>
			<f:for each="{suggestedTopics}" as="suggestedTopic">
				<tr class="warning">
					<td><f:format.date>{suggestedTopic.creationDate}</f:format.date></td>
					<td>{suggestedTopic.title}</td>
					<td>{suggestedTopic.category.name}</td>
					<td>{suggestedTopic.owner.name}
					<f:security.ifHasRole role="Administrator">
						<td>
							<f:link.action action="accept" controller="Topic" arguments="{topic: suggestedTopic}">
								<i class="icon-ok"></i>
							</f:link.action>
						</td>
						<td>
							<f:link.action action="reject" controller="Topic" arguments="{topic: suggestedTopic}">
								<i class="icon-remove" onclick="return confirm('Are you sure want to reject this topic?')"></i>
							</f:link.action>
						</td>
					</f:security.ifHasRole>
					<f:if condition="{0: suggestedTopic.owner} == {0: loginUser}">
						<f:then>
								<td>
									<f:link.action action="edit" controller="Topic" arguments="{topic: suggestedTopic}">
										<i class="icon-edit"></i>
									</f:link.action>
								</td>
								<td>
									<f:link.action action="delete" controller="Topic" arguments="{topic: suggestedTopic}">
										<i class="icon-trash" onclick="return confirm('Are you sure want to delete?')"></i>
									</f:link.action>
								</td>
								<td>
									<f:for each="{suggestedTopic.voteUsers}" as="vote">
										<i class="icon-star"></i>
									</f:for>
								</td>
								<td></td>
						</f:then>
						<f:else>
							<td></td>
							<td></td>
							<td>
								<f:for each="{suggestedTopic.voteUsers}" as="vote">
									<i class="icon-star"></i>
								</f:for>
							</td>
							<td>
								<f:if condition="{suggestedTopic.notYetVotedByCurrentUser}">
									<f:link.action action="vote" controller="Topic" arguments="{topic: suggestedTopic}">
										<i class="icon-thumbs-up"></i>
									</f:link.action>
								</f:if>
							</td>
						</f:else>
					</f:if>
				</tr>
			</f:for>
		</table>
	</f:if>
	<p>
		<f:link.action action="new" class="btn">
			<f:translate id="label.suggest.new.topic" />
		</f:link.action>
	</p>
</f:section>