<f:layout name="Default" />

<f:section name="Title">Suggested Topic - Chantrea Training</f:section>
<f:section name="Header">Suggested Topic</f:section>

<f:section name="Content">
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form.hidden name="nav-class" class="nav-class" value="{class}" />
	<f:if condition="{suggestedTopics}">
		<table class="table table-condensed">
			<tr>
				<th><f:translate id="label.field.topic.creationDate" /></th>
				<th><f:translate id="label.field.topic.title" /></th>
				<th><f:translate id="label.field.topic.account" /></th>
				<f:security.ifHasRole role="Administrator">
					<th><f:translate id="label.suggest.accepted" /></th>
					<th><f:translate id="label.suggest.reject" /></th>
				</f:security.ifHasRole>
				<f:if condition="{matchAccount}">
					<th><f:translate id="label.edit" /></th>
					<th><f:translate id="label.delete" /></th>
				</f:if>
			</tr>
			<f:for each="{suggestedTopics}" as="suggestedTopic">
				<tr class="warning">
					<td><f:format.date>{suggestedTopic.creationDate}</f:format.date></td>
					<td>{suggestedTopic.title}</td>
					<td>{suggestedTopic.account.party.name}
					<f:security.ifHasRole role="Administrator">
						<td><f:link.action action="accept" controller="Topic"
								arguments="{suggestedTopic: suggestedTopic}">
								<i class="icon-plus-sign" />
							</f:link.action></td>
						<td><f:link.action action="unAccept" controller="Topic"
								arguments="{suggestedTopic: suggestedTopic}">
								<i class="icon-minus-sign" onclick="return confirm('Are you sure want to reject this topic?')">
							</f:link.action></td>
					</f:security.ifHasRole>
					<f:if condition="{matchAccount}">
						<f:if condition="{0: suggestedTopic.account.accountIdentifier} == {0: accountIdentifier}">
							<f:then>
								<td>
									<f:link.action action="edit" controller="Topic"
										arguments="{topic: suggestedTopic}">
										<i class="icon-edit"></i>
									</f:link.action>
								</td>
								<td>
									<f:link.action action="delete" controller="Topic"
										arguments="{topic: suggestedTopic}">
										<i class="icon-trash"
											onclick="return confirm('Are you sure want to delete?')"></i>
									</f:link.action>
								</td>
							</f:then>
							<f:else>
								<td></td>
								<td></td>
							</f:else>
						</f:if>
					</f:if>
				</tr>
			</f:for>
		</table>
	</f:if>
	<p>
		<f:link.action action="new">
			<f:translate id="label.suggest.new.topic" />
		</f:link.action>
	</p>
</f:section>