<f:layout name="MainTemplate" />

<f:section name="MainContent">
	<div id="login-form">
		Login ដើម្បីមើលកម្មវិធីបណ្តុះបណ្តាល៖
		<hr />
		<f:flashMessages class="flashmessages" />
		<f:form action="authenticate" method="post">
			<fieldset>
				<legend>បំពេញចន្លោះខាងក្រោម</legend>
				
				<label for="username">ឈ្មោះអ្នកប្រើប្រាស់:</label>
				<f:form.textfield id="username" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" tabindex="1" />
				<br />
				<label for="password">លេខសម្ងាត់:</label>
				<f:form.password id="password" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" tabindex="2" />
				<br />
				<f:form.submit id="button" value="បញ្ជូន" tabindex="3" />
			</fieldset>
		</f:form>
	</div>
</f:section>