<f:if condition="{login}">
	<f:else>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="/" class="brand">Chantrea Training</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="#">Dashboard</a></li>
								<li><a href="#about">Suggested Topic</a></li>
								<li><a href="#contact">Accepted / Plan</a></li>
							</ul>
							<f:form controller="Standard" action="logout" method="post" class="navbar-form pull-right">
								<f:form.button class="btn" type="submit">Sign out</f:form.button>
							</f:form>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	</f:else>
</f:if>