<f:if condition="{login}">
	<f:else>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse"
						class="btn btn-navbar"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
					</a> <a href="/" class="brand">Chantrea Training</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							Logged in as <strong><f:link.action action="show" controller="User" arguments="{user: sessionUser}" class="navbar-link">{sessionUser.name}</f:link.action></strong> |
							Not you? <f:link.action controller="Standard" action="logout">Sign out</f:link.action>
						</p>
						<ul class="nav">
							<f:if condition="{0: currentPage} == {0: 'index'}">
								<f:then>
									<li class="navigation-item active"><a href="#">Dashboard</a></li>
								</f:then>
								<f:else>
									<li class="navigation-item"><a href="#">Dashboard</a></li>
								</f:else>
							</f:if>
							<f:if condition="{0: currentPage} == {0: 'suggested'}">
								<f:then>
									<li class="navigation-item active"><f:link.action action="suggest" controller="Topic">Suggested Topics</f:link.action></li>
								</f:then>
								<f:else>
									<li class="navigation-item"><f:link.action action="suggest" controller="Topic">Suggested Topics</f:link.action></li>
								</f:else>
							</f:if>
							<f:if condition="{0: currentPage} == {0: 'listAccepted'}">
								<f:then>
									<li class="navigation-item active">
										<f:link.action action="listAccepted" controller="Topic">Accepted / Plan</f:link.action>
									</li>
								</f:then>
								<f:else>
									<li class="navigation-item">
										<f:link.action action="listAccepted" controller="Topic">Accepted / Plan</f:link.action>
									</li>
								</f:else>
							</f:if>
							<f:if condition="{0: currentPage} == {0: 'showScheduled'}">
								<f:then>
									<li class="navigation-item active">
										<f:link.action action="showScheduled" controller="Topic">Scheduled Topics</f:link.action>
									</li>
								</f:then>
								<f:else>
									<li class="navigation-item">
										<f:link.action action="showScheduled" controller="Topic">Scheduled Topics</f:link.action>
									</li>
								</f:else>
							</f:if>
							<f:if condition="{0: currentPage} == {0: 'viewReport'}">
								<f:then>
									<li class="navigation-item active">
										<f:link.action action="viewReport" controller="Topic"><f:translate id="label.report.view.title" /></f:link.action>
									</li>
								</f:then>
								<f:else>
									<li class="navigation-item">
										<f:link.action action="viewReport" controller="Topic"><f:translate id="label.report.view.title" /></f:link.action>
									</li>
								</f:else>
							</f:if>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
	</f:else>
</f:if>