{namespace ct=Chantrea\Training\ViewHelpers}
<f:security.ifAuthenticated>
	<f:else>
		<f:form action="create" name="newUser" method="post" class="form-signin">
			<div class="hidden"><ct:flashMessages /></div>
			<f:render partial="FormErrors" arguments="{objectName: objectName}" />
			<h2 class="form-signin-heading">Please fill in</h2>
			<f:form.textfield name="username" placeholder="<f:translate id='label.field.topic.username' />" class="input-block-level" />
			<f:form.textfield name="firstName" placeholder="<f:translate id='label.field.topic.firstName' />" class="input-block-level" />
			<f:form.textfield name="lastName" placeholder="<f:translate id='label.field.topic.lastName' />" class="input-block-level" />
			<f:form.textfield name="email" placeholder="<f:translate id='label.field.topic.email' />" class="input-block-level" />
			<input type="password" name="password[0]" placeholder="<f:translate id='label.field.topic.password' />" class="input-block-level" />
			<input type="password" name="password[1]" placeholder="<f:translate id='label.field.topic.repeatPassword' />" class="input-block-level" />
			<f:form.button type="submit" class="btn btn-large btn-primary"><f:translate id="label.signup.button" /></f:form.button>
			<div class="signup"> <f:translate id="label.already.memeber" /> <f:link.action action="login"><f:translate id="label.signin.button" /></f:link.action>.</div>
		</f:form>
	</f:else>
</f:security.ifAuthenticated>