<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><f:render section="Title" /></title>
		<f:base />
		<!-- Bootstrap -->
		<link href="{f:uri.resource(path: '2.3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" rel="stylesheet" media="screen" />
		<link href="{f:uri.resource(path: 'Styles/Default.css')}" rel="stylesheet" media="screen" />
		<f:if condition="{login}">
			<link href="{f:uri.resource(path: 'Styles/Login.css')}" rel="stylesheet" media="screen" />
		</f:if>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
				padding-bottom: 40px;
			}
		</style>
		<link href="{f:uri.resource(path: '2.3/css/bootstrap-responsive.min.css', package: 'TYPO3.Twitter.Bootstrap')}" rel="stylesheet" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link href="{f:uri.resource(path: 'Styles/jquery-ui-timepicker-addon.css')}" rel="stylesheet" media="screen" />
		<script src="{f:uri.resource(path: '2.3/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
		<script src="{f:uri.resource(path: 'Libraries/jQuery/jquery-2.0.2.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="{f:uri.resource(path: 'JavaScript/jquery-ui-timepicker-addon.js')}"></script>
	</head>
	<body>
		<f:render partial="NavBar" arguments="{login: login, currentPage: currentPage}"/>
		<div class="container">
			<f:if condition="{login}">
				<f:else>
					<h1><f:render section="Header" /></h1>
				</f:else>
			</f:if>
			<f:flashMessages class="flashmessages" />
			<f:render section="Content" />
			<f:render partial="Footer" arguments="{login: login}" />
		</div>
		<script src="{f:uri.resource(path: 'JavaScript/Default.js')}"></script>
	</body>
</html>
