{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">A list of locations</f:section>
<f:section name="Header">A list of location</f:section>

<f:section name="Content">
	<ct:flashMessages />
	<f:if condition="{locations}">
		<f:then>
			<table class="table table-condensed">
				<tr>
					<th>Category</th>
					<th>Description</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<f:for each="{locations}" as="location">
					<tr>
						<td>{location.room}</td>
						<td>{location.description}</td>
						<td><f:link.action action="edit" arguments="{location: location}"><i class="icon-pencil"></i></f:link.action></td>
						<td><f:link.action action="delete" arguments="{location: location}"><i class="icon-trash" onclick="return confirm('Are you sure want to delete?')"></i></f:link.action></td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>No locations created yet.</p>
		</f:else>
	</f:if>
	<p>
		<f:link.action action="new" class="btn">Create</f:link.action>
		<f:link.action action="listAccepted" controller="Topic" class="btn">Return to plan form</f:link.action>
	</p>
</f:section>