{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.new.location" /></f:section>
<f:section name="Header"><f:translate id="label.new.location" /></f:section>

<f:section name="Content">
	<p><f:translate id="label.room.message.prompt" /></p>
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<div style="display: none"><ct:flashMessages /></div>
	<f:form action="create" name="newLocation">
		<div class="control-group">
			<div class="control-label">
				<label for="room"><f:translate id="label.field.room.name" /> * </label>
			</div>
			<div class="controls">
				<f:form.textfield property="room" id="room" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="description"><f:translate id="label.field.room.description" /></label>
			</div>
			<div class="controls">
				<f:form.textarea property="description" id="description" rows="3" cols="50" placeholder="{f:translate(id: 'label.placeholder.description')}" />
			</div>
		</div>
		<f:form.button class="btn"><f:translate id="label.create" /></f:form.button>
	</f:form>
</f:section>