{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">New location</f:section>
<f:section name="Header">New location</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new location:</p>
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<div style="display: none"><ct:flashMessages /></div>
	<f:form action="create" name="newLocation">
		<div class="control-group">
			<div class="control-label">
				<label for="room">Room</label>
			</div>
			<div class="controls">
				<f:form.textfield property="room" id="room" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="description">Description</label>
			</div>
			<div class="controls">
				<f:form.textarea property="description" id="description" rows="3" cols="50" placeholder="Enter description here" />
			</div>
		</div>
		<f:form.button class="btn"><f:translate id="label.create" /></f:form.button>
	</f:form>
</f:section>