<f:layout name="Default" />

<f:section name="Title">New location</f:section>
<f:section name="Header">New location</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new location:</p>

	<f:form action="create" name="newLocation">
		<ol>
			<li>
				<label for="room">Room</label>
				<f:form.textfield property="room" id="room" />
			</li>
			<li>
				<label for="description">Description</label>
				<f:form.textarea property="description" id="description" rows="3" cols="50" placeholder="Enter description here" />
			</li>
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>