<f:layout name="Default" />

<f:section name="Title">New category</f:section>
<f:section name="Header">New category</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new category:</p>

	<f:form action="create" name="newCategory">
		<ol>
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="name" id="name" />
			</li>
			<li>
				<label for="description">Description</label>
				<f:form.textarea property="description" id="description" rows="3" cols="50" placeholder="Enter description here" />
			</li>
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>