{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.category.new" /></f:section>
<f:section name="Header"><f:translate id="label.category.new" /></f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new category:</p>
	<div style="display: none"><ct:flashMessages /></div>
	<f:render partial="FormErrors" arguments="{objectName: objectName}" />
	<f:form action="create" name="newCategory">
		<div class="control-group">
			<div class="control-label" for="name">
				<f:translate id="label.field.category.name" /> *
			</div>
			<div class="controls">
				<f:form.textfield property="name" id="name" />
			</div>
		</div>
		<div class="control-group">
			<div class="control-label" for="description">
				<f:translate id="label.field.room.description" />
			</div>
			<div class="controls">
				<f:form.textarea property="description" id="description" rows="3" cols="50" placeholder="{f:translate(id: 'label.placeholder.description')}" />
			</div>
		</div>
		<f:form.button class="btn"><f:translate id="label.create" /></f:form.button>
	</f:form>
</f:section>