#                                                                        #
# Default routes configuration for the Chantrea.Training package         #
#                                                                        #

-
  name: 'Standard action'
  uriPattern: 'login'
  defaults:
    '@controller': 'Standard'
    '@action':     'login'

-
  name: 'Standard action'
  uriPattern: 'register'
  defaults:
    '@controller': 'Standard'
    '@action':     'register'

-
  name: 'Standard action'
  uriPattern: 'user/create'
  defaults:
    '@controller': 'Standard'
    '@action':     'create'

-
  name: 'Authenticate action'
  uriPattern: 'authenticate'
  defaults:
    '@controller': 'Standard'
    '@action':     'authenticate'

-
  name: 'Logout action'
  uriPattern: 'logout'
  defaults:
    '@controller': 'Standard'
    '@action':     'logout'

-
  name: 'Show account action'
  uriPattern: '{account}'
  defaults:
    '@controller': 'Standard'
    '@action':     'showAccount'
  routeParts:
    account:
      objectType: TYPO3\Flow\Security\Account
      uriPattern: '{party.name.firstName}.{party.name.lastName}'

-
  name: 'Topic list action'
  uriPattern: 'topics'
  defaults:
    '@controller': 'Topic'
    '@action':     'index'

-
  name: 'Topic list action'
  uriPattern: 'topic(/{@action})'
  defaults:
    '@controller': 'Topic'
    '@action':     'redirect'


-
  name: 'Topic actions'
  uriPattern: 'topic/{@action}/{topic}'
  defaults:
    '@controller': 'Topic'
    '@action':     'show'
  routeParts:
    topic:
      objectType: Chantrea\Training\Domain\Model\Topic
      uriPattern: '{title}'

-
  name: 'Category list action'
  uriPattern: 'categories'
  defaults:
    '@controller': 'Category'
    '@action':     'index'

-
  name: 'Category actions'
  uriPattern: 'category/new'
  defaults:
    '@controller': 'Category'
    '@action':     'new'

-
  name: 'Category actions'
  uriPattern: 'category/{@action}/{category}'
  defaults:
    '@controller': 'Category'
    '@action':     'show'
  routeParts:
    topic:
      objectType: Chantrea\Training\Domain\Model\Category
      uriPattern: '{title}'

-
  name: 'Location list action'
  uriPattern: 'locations'
  defaults:
    '@controller': 'Location'
    '@action':     'index'

-
  name: 'Location actions'
  uriPattern: 'location/new'
  defaults:
    '@controller': 'Location'
    '@action':     'new'

-
  name: 'Location actions'
  uriPattern: 'location/{@action}/{location}'
  defaults:
    '@controller': 'Location'
    '@action':     'show'
  routeParts:
    topic:
      objectType: Chantrea\Training\Domain\Model\Location
      uriPattern: '{title}'

-
  name: 'Fallback action'
  uriPattern: ''
  defaults:
    '@controller': 'Standard'
    '@action':     'index'