{namespace ct=Chantrea\Training\ViewHelpers}
<f:layout name="Standard" />

<f:section name="Title">Welcome</f:section>

<f:section name="Content">
	<div class="container welcome">

		<ct:flashMessages />

		<f:render partial="StandardNavBar" />

		<!-- Jumbotron -->
		<div class="jumbotron">
			<h1>Chantrea Training</h1>
			<p class="lead"></p>
			<p>
				<f:security.ifAuthenticated>
					<f:then>
						<f:link.action action="login" class="btn btn-lg btn-success">Continue to application</f:link.action>
					</f:then>
					<f:else>
						<a class="btn btn-lg btn-success" href="#myModal" data-toggle="modal">Get started today</a>
					</f:else>
				</f:security.ifAuthenticated>
			</p>
		</div>

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/png;base64,"
					data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Organize Trainings</h2>
				<p>Easy to use platform to submit training request and vote for the next topics!</p>
				<p>
					<a class="btn btn-info" href="#">Read more &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/png;base64,"
					data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Search Old Content</h2>
				<p>Platform to save all training content, access old trainings and place to comment on trainings</p>
				<p>
					<a class="btn btn-info" href="#">Read more &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/png;base64,"
					data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Track PDPM</h2>
				<p>Platform to follow up with PDPM goals</p>
				<p>
					<a class="btn btn-info" href="#">Read more &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<f:render partial="StandardLogin" />
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</f:section>