<f:layout name="Default" />

<f:section name="Title"><f:translate id="label.showaccount" /> "{account.party.name}"</f:section>
<f:section name="Header"><f:translate id="label.showaccount" /> "{account.party.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th><f:translate id="label.showaccount.account" /></th>
			<td>{account.accountIdentifier}</td>
		</tr>

		<tr>
			<th><f:translate id="label.showaccount.firstName" /></th>
			<td>{account.party.name.firstName}</td>
		</tr>

		<tr>
			<th><f:translate id="label.showaccount.lastName" /></th>
			<td>{account.party.name.lastName}</td>
		</tr>
	</table>
	<f:link.action controller="Topic" action="index"><f:translate id="label.showaccount.back" /></f:link.action>
</f:section>